.component-point-wrapper {
    width: 56px;
    height: 56px;
    position: absolute;
    right: calc(-27.5px - 1px);
    top: calc(50% - 27.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 100%;
    z-index: 20;

    &:hover,
    &:focus {
        .component-point {
            width: 56px;
            height: 56px;
            background: #f4f4f9;
            border: 1px solid #9397a8;
        }
    }

    &:hover,
    &:focus {
        .component-point__number {
            opacity: 1 !important;
            font-size: 20px !important;
        }
    }

    .component-point {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: #464f7b;
        color: #464f7b;
        cursor: pointer;
        transition: all 0.6s ease;

        p {
            font-size: 20px;
            user-select: none;
        }

        .component-point__number {
            opacity: 0;
        }

        .component-point__title {
            opacity: 0;
        }
    }
}

.component-point-wrapper--active {
    width: 56px;
    height: 56px;
    background: transparent;
    z-index: 20;

    .component-point {
        position: relative;
        width: 56px;
        height: 56px;
        background: #f4f4f9;
        border: 1px solid #9397a8;

        .component-point__number {
            opacity: 1;
        }

        .component-point__title {
            position: absolute;
            top: calc(50% - 13px);
            left: 76px;
            font-weight: 700;
            cursor: default;
        }
    }
}