.component-buttonArrow {
    min-width: 25px;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #9ca2b9;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    transform: rotate(180deg);

    &--left {
        transform: none;
    }

    &:hover,
    &:focus {
        background: #fff !important;
        border: 1px solid #6b6f7e;
    }

    transition: all 0.6s ease;

    &:disabled {
        cursor: default;
        opacity: 0.5;

        &:hover {
            background: transparent !important;
            border: 1px solid #9ca2b9 !important;
        }
    }
}
