.component-buttonArrow {
    min-width: 25px;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #9ca2b9;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
    transform: rotate(180deg);

    &--left {
        transform: none;
    }
}
