.component-switch {
    font-size: 14px;
    margin-bottom: 56px;

    &__series-segment {
        margin-bottom: 20px;
    }

    &__buttons {
        display: flex;

        .component-buttonArrow:first-child {
            margin-right: 20px;
        }
    }
}
