.component-reel {
  width: 530px;
  height: 530px;
  border-radius: 100%;

  .component-reel__reel {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #d1d3e0;
    border-radius: 100%;
  }

  .component-reel__dot-wrapper {
    position: absolute;
    top: -27.5px;
    left: -27.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: transparent;
    border-radius: 100%;
    cursor: pointer;
    z-index: 10;

    &:hover .component-reel__dot {
      width: 56px;
      height: 56px;
      background: #f4f4f9;
      border: 1px solid #9397a8;
    }

    &:hover p {
      opacity: 1 !important;
      font-size: 20px !important;
    }

    .component-reel__dot {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #464f7b;
      color: #464f7b;
      cursor: pointer;
      transition: all .6s ease;

      p {
        opacity: 0;
        transition: all .6s ease;
      }
    }
  }
}
