.component-reel {
  position: absolute;
  top: 215px;
  left: calc(50% - 530px / 2);
  width: 530px;
  height: 530px;
  border-radius: 100%;

  .component-reel__reel {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #d1d3e0;
    border-radius: 100%;
  }

  .component-reel__point-wrapper {
    position: absolute;
    top: calc(50% - 27.5px);
    left: calc(50% - 27.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: transparent;
    border-radius: 100%;
    z-index: 10;
    // transform: translateX(50px);

    &:hover,
    &:focus {
      .component-reel__point {
        width: 56px;
        height: 56px;
        background: #f4f4f9;
        border: 1px solid #9397a8;
      }
    }

    &:hover,
    &:focus {
      .component-reel__number {
        opacity: 1 !important;
        font-size: 20px !important;
      }
    }

    .component-reel__point {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #464f7b;
      color: #464f7b;
      cursor: pointer;
      transition: all 0.6s ease;

      p {
        font-size: 20px;
        user-select: none;
      }

      .component-reel__number {
        opacity: 0;
        transition: all 0.6s ease;
      }
    }
  }

  .component-reel__point-wrapper--active {
    width: 56px;
    height: 56px;
    background: #f4f4f9;
    z-index: 20;

    .component-reel__point {
      position: relative;
      width: 56px;
      height: 56px;
      background: #f4f4f9;
      border: 1px solid #9397a8;

      .component-reel__number {
        opacity: 1;
      }

      .component-reel__title {
        position: absolute;
        top: calc(50% - 13px);
        left: 76px;
        font-weight: 700;
        opacity: 0;
        cursor: default;
      }
    }
  }
}