.component-card {
    max-width: 320px;
    margin: 0 !important;
    padding: 0 !important;

    h4 {
        font-family: "Bebas Neue", sans-serif !important;
        font-size: 25px;
        font-weight: 400;
        color: #6468f1;
        margin-bottom: 15px;
    }

    p {
        font-size: 20px;
        color: #464f7b;
    }
}
