.component-cardSlider {
    display: flex;
    position: relative;
    margin: 0 80px 104px 80px;

    .component-cardSlider__title {
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 700;
    }

    .swiper {
        max-width: 100%;
        margin: 0 auto;

        .swiper-slide {
            cursor: pointer;
        }
    }

    .swiper-pagination {
        display: none;
    }

    .component-buttonArrow {
        border: none;
        box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);

        &:hover,
        &:focus {
            box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.2);
        }

        transition: all .6s ease;
    }

    .component-buttonArrow--left {
        position: absolute;
        top: calc(50% - 50px / 2);
        left: -65px;
    }

    .component-buttonArrow--right {
        position: absolute;
        top: calc(50% - 50px / 2);
        right: -65px;
    }
}
