.component-cardSlider {
    display: flex;
    position: relative;
    margin: 0 80px 104px 80px;
    opacity: 0;

    .swiper {
        max-width: 100%;
        margin: auto;

        .swiper-slide {
            cursor: pointer;
        }
    }

    .component-buttonArrow {
        border: none;
        box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);

        &:hover,
        &:focus {
            box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.2);
        }
    }

    .component-buttonArrow--left {
        position: absolute;
        top: calc(50% - 50px / 2);
        left: -65px;
    }

    .component-buttonArrow--right {
        position: absolute;
        top: calc(50% - 50px / 2);
        right: -65px;
    }
}
