.component-header {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #42567a;
    z-index: 5;

    &__line {
        width: 5px;
        height: 120px;
        background: linear-gradient(#5b49ea, #f900a5);
    }

    h2 {
        max-width: 353px;
        font-size: 56px;
        line-height: 67px;
        margin-left: 75px;
    }
}
