// RESET START
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  transition: all 0.1s ease;
  font-family: "PT Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
}

button {
  background-color: #fff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
}
// RESET END

body {
  margin: 0 20px;
  background: #f4f4f9;
}

.wrapper {
  max-width: 1440px; // 16%
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  margin: auto;
  padding-top: 170px;
  border-left: 1px solid #e3e5ed;
  border-right: 1px solid #e3e5ed;

  .years {
    display: flex;
    align-self: center;
    width: fit-content;
    transform: translateX(-18px);
    margin-top: 42px;
    margin-bottom: 137px;
    z-index: 1;

    .component-year:first-child {
      margin-right: 80px;
    }
  }

  .component-switch {
    margin-left: 80px;
  }

  .line {
    background-color: #e3e5ed;
    position: absolute;
    z-index: -1;
  }

  .line-hor {
    width: 100%;
    height: 1px;
    top: 480px;
    margin-bottom: 1000px;
  }

  .line-ver {
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
  }
}

@media screen and (max-width: 1121px) {
  .wrapper {
    padding-top: 80px;

    .component-header {
      h2 {
        font-size: 50px;
      }
    }

    .years {
      margin-top: 42px;

      .component-year {
        font-size: 160px;
        margin-top: 36px !important;
      }
    }

    .line-hor {
      top: 390px;
    }
  }
}

@media screen and (max-width: 993px) {
  .wrapper {
    padding-top: 60px;

    .component-header {
      &__line {
        height: 100px;
      }

      h2 {
        max-width: 260px;
        font-size: 40px;
      }
    }

    .years {
      margin-top: 0px;
      transform: translateX(-14px);

      .component-year {
        font-size: 120px;
        margin-top: 84px !important;

        &:first-child {
          margin-right: 90px;
        }
      }
    }

    .component-cardSlider {
      .component-card {
        max-width: 250px;
      }
    }

    .line-hor {
      top: 390px;
    }
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    padding-top: 60px;
    border: none;

    .component-header {
      h2 {
        max-width: 140px;
        font-size: 20px;
        line-height: 20px;
        margin-left: 0;
      }
    }

    .years {
      width: 100%;
      justify-content: space-between;
      transform: translateX(0);
      margin-top: 56px;

      .component-year {
        font-size: 56px;
        line-height: 73px;
        margin-top: 0 !important;

        &:first-child {
          margin-right: 10px;
        }
      }
    }

    .component-switch {
      margin: 0;
    }

    .component-cardSlider {
      margin: 0;

      .component-card {
        h4 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}
