// RESET START
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    transition: all 0.1s ease;
    font-family: 'PT Sans', sans-serif;
  }
  
  img {
    max-width: 100%;
    height: auto;
    user-select: none;
  }
  
  button {
    background-color: #fff;
  }
  
  ul {
    list-style-type: none;
  }
  
  body {
    margin: 0;
  }
  // RESET END

  body {
    margin: 0 20px;
    background: #f4f4f9;
  }

  .wrapper {
    max-width: 1440px; // 16%
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    margin: auto;
    padding-top: 170px;
    border-left: 1px solid #e3e5ed;
    border-right: 1px solid #e3e5ed;

    .years {
      display: flex;
      align-self: center;
      width: fit-content;
      transform: translateX(-18px);
      margin-top: 42px;
      margin-bottom: 137px;
      z-index: 1;

      .component-year:first-child {
        margin-right: 80px;
      }
    }

    .component-switch {
      margin-left: 80px;
    }

    .line {
      background-color: #e3e5ed;
      position: absolute;
      z-index: -1;
    }

    .line-hor {
      width: 100%;
      height: 1px;
      top: 480px;
      margin-bottom: 1000px;
    }

    .line-ver {
      width: 1px;
      height: 100%;
      left: 50%;
      top: 0;
    }
  }
