// RESET START
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s ease;
  font-family: "PT Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
}

button {
  background-color: #fff;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
}
// RESET END

body {
  margin: 0 20px;
  background: #f4f4f9;
}

.wrapper {
  max-width: 1440px; // 16%
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  margin: auto;
  padding: 170px 0 20px 0;
  border-left: 1px solid #e3e5ed;
  border-right: 1px solid #e3e5ed;

  .years {
    display: flex;
    align-self: center;
    width: fit-content;
    transform: translateX(-18px);
    margin-top: 42px;
    margin-bottom: 137px;
    z-index: 1;

    .component-year:first-child {
      margin-right: 80px;
    }
  }

  .component-switch {
    margin-left: 80px;
  }

  .line {
    background-color: #e3e5ed;
    position: absolute;
    z-index: -1;
  }

  .line-hor {
    width: 100%;
    height: 1px;
    top: 480px;
    margin-bottom: 1000px;
  }

  .line-ver {
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
  }
}

@media screen and (max-width: 1121px) {
  .wrapper {
    padding-top: 80px;

    .component-header {
      h2 {
        font-size: 50px;
      }
    }

    .years {
      margin-top: 42px;

      .component-year {
        font-size: 160px;
        margin-top: 36px !important;
      }
    }

    .line-hor {
      top: 390px;
    }
  }
}

@media screen and (max-width: 993px) {
  .wrapper {
    padding-top: 60px;

    .component-header {
      &__line {
        height: 100px;
      }

      h2 {
        max-width: 260px;
        font-size: 40px;
      }
    }

    .years {
      margin-top: 0px;
      transform: translateX(-14px);

      .component-year {
        font-size: 120px;
        margin-top: 84px !important;

        &:first-child {
          margin-right: 90px;
        }
      }
    }

    .component-cardSlider {
      .component-card {
        max-width: 250px;
      }
    }

    .line-hor {
      top: 390px;
    }
  }
}

@media screen and (max-width: 576px) {
  body {
    margin: 0;
  }

  .wrapper {
    padding: 60px 0 20px 0;
    border: none;

    .component-header,
    .years,
    .component-switch {
      padding: 0 20px;
    }

    .component-header {
      h2 {
        max-width: 140px;
        font-size: 20px;
        line-height: 20px;
        margin-left: 0;
      }
    }

    .years {
      width: 100%;
      justify-content: space-between;
      transform: translateX(0);
      margin-top: 56px;
      margin-bottom: 50px;

      .component-year {
        font-size: 56px;
        line-height: 73px;
        margin-top: 0 !important;

        &:first-child {
          margin-right: 10px;
        }
      }
    }

    .component-cardSlider {
      flex-direction: column;
      max-width: fit-content;
      margin: 0;
      padding: 0 0 0 20px;

      .line-hor {
        width: calc(100vw - 40px) !important;
        background: #c7cdd9;
        margin-bottom: 20px !important;
        padding: 0;
      }

      .component-card {
        h4 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }

      .swiper {
        height: 196px;

        .swiper-slide-next {
          opacity: 0.5 !important;
        }
      }

      .swiper-pagination {
        display: block;
        left: -10px;
        bottom: 0;

        .swiper-pagination-bullet {
          background: #adb3c6;
          transition: all 0.6s ease !important;

          &-active {
            background: #42567a;
          }
        }
      }
    }
  }

  .component-switch {
    position: absolute;
    top: 220px;
    left: 0;
    justify-self: flex-end;
    margin: auto 0 0 0 !important;
    padding: 0;

    &__series-segment {
      margin-bottom: 10px;
    }

    .component-switch__buttons {
      .component-buttonArrow {
        border: 1px solid #9ca2b9;
        box-shadow: none;
      }
    }

    .component-buttonArrow--left {
      position: static;
    }

    .component-buttonArrow--right {
      position: static;
    }

    .component-buttonArrow:first-child {
      margin-right: 8px;
    }
  }
}
