// RESET START
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    transition: all 0.1s ease;
  }
  
  img {
    max-width: 100%;
    height: auto;
    user-select: none;
  }
  
  button {
    background-color: #fff;
  
    &:active, &:focus {
      border: 1px solid #000;
    }
  }
  
  ul {
    list-style-type: none;
  }
  
  body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  // RESET END

  body {
    margin: 0 20px;
  }

  .wrapper {
    max-width: 1440px; // 16%
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    margin: auto;
    padding-top: 170px;
    border-left: 1px solid #e3e5ed;
    border-right: 1px solid #e3e5ed;

    .years {
      display: flex;
      align-self: center;
      transform: translateX(-18px);
      margin-top: 42px;

      .component-year:first-child {
        margin-right: 80px;
      }

      .component-year:last-child {
        margin-bottom: 137px;
      }
    }

    .component-reel {
      position: absolute;
      top: 215px;
      left: calc(50% - 530px / 2);
    }

    .component-switch {
      margin-left: 80px;
    }

    .slider {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 104px;

      .component-buttonArrow {
        margin: 0 40px 0 10px;
      }
    }

    .line {
      background-color: #e3e5ed;
      position: absolute;
      z-index: -1;
    }

    .line-hor {
      width: 100%;
      height: 1px;
      top: 480px; // 44%
      margin-bottom: 1000px;
    }

    .line-ver {
      width: 1px;
      height: 100%;
      left: 50%;
      top: 0;
    }
  }