// RESET START
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s ease;
  font-family: "PT Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
}

button {
  background-color: #fff;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
}
// RESET END

body {
  background: #f4f4f9;
}
